html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}

#home_container,
#shows_container,
#about_container,
#media_container {
    scroll-snap-align: start;
    height: 100vh;
}

#home_container {
    background: url('../images/Shoots/5.png') no-repeat center center fixed;
    background-size: cover;
}

#header {
    background-color: rgb(252, 223, 58);
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* z-index: 10; */
}

.header_container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

.socialMedia i {
    /* display: inline-block; */
    font-size: 20px;
    color: rgba(32, 32, 32, 0.911);

}

.navbar_container {
    width: 440px;
}

.links {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link {
    align-items: center;
}

.link a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.link a:hover {
    color: rgb(102, 102, 102);
}

.link a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}

.link a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.logo {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    color: rgb(255, 255, 255);
}

.scroll_icon {
    position: fixed;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 17px;
    height: 30px;
    border-radius: 85px;
    left: 50%;
    bottom: 7%;
    transform: translateX(-50%);
    /* margin-top: 5%; */
}

.wheel_animation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 3px;
    height: 9px;
    border-radius: 15px;
    left: 50%;
    /* bottom: 0; */
    animation: wheel_animation 1.3s ease infinite;
}

@keyframes wheel_animation {
    0% {
        top: 10%;
        transform: translate(-50%, 20%);
        opacity: 1;
    }

    100% {
        top: 45%;
        transform: translate(-50%, 45%);
        opacity: 0;
    }
}

#shows_container {
    /* height: 100vh; */
    background: url('../images/Performance/performance1.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shows_content {
    width: 35%;
    margin-right: 80px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 150px;
}

.shows_content h2 {
    width: 49%;
    font-size: 2rem;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.404);
}

.show_header {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: rgba(168, 168, 168, 0.2);
}

.show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(189, 189, 189, 0.212);
    padding: 10px;
}

.show_date {

    margin: 0;
}

.show_date p {
    margin: 0;
    text-transform: uppercase;
}

.top_date,
.bottom_date {
    font-size: 0.9rem;
    text-align: center;
}

.middle_date {
    font-size: 1.2rem;
}

.show_ticket button {
    background-color: rgb(199, 1, 0);
    /* background-color: rgb(252, 223, 58); */
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.show_ticket button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(199, 1, 0);
    /* color: rgb(202, 175, 24); */
}

#media_container {
    background: url('../images/Shoots/2.jpg') no-repeat center center fixed;
    background-size: cover;
}

#about_container {
    background: url('../images/Shoots/10.jpg') no-repeat center center fixed;
    /* or use shoots/10.jph + black background */

    /* background-color: black; */
    background-size: cover;
    /* height: 100vh; */
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 80px; */
}

.about {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    width: 36%;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 50px;
}

.about h2 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.about p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#footer_container {
    width: 100%;
    background-color: rgb(48, 48, 48);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

.social_footer a i {
    color: aliceblue;
}

.social_footer a i:hover {
    color: rgb(195, 204, 69);
}

.contact_me p {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.contact_me p span {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.copyright p {
    font-size: 0.8rem;
    letter-spacing: 1px;
}