body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_container {
    width: 100%;
    height: 100vh;
}

.home_container::after {
    content: "";
    background: url('../images/Shoots/6.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#header {
    background-color: rgb(221, 231, 124);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

.socialMedia i {
    /* display: inline-block; */
    font-size: 20px;
    color: rgba(32, 32, 32, 0.911);

}

.navbar_container {
    width: 440px;
}

.links {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link {
    align-items: center;
}

.link a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    color: rgb(255, 255, 255);
}

.hero_container {
    /* width: 100%; */
    height: 65%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero_img {
    width: 40%;
    height: 70%;
    text-align: center;
}

.hero_img img {
    width: 60%;
    border-radius: 20px;
}

.hero_video {
    width: 40%;
    height: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_icon {
    position: relative;
    border: 2px solid rgba(49, 49, 49, 0.8);
    width: 23px;
    height: 40px;
    border-radius: 85px;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    /* margin-top: 5%; */
}

.wheel_animation {
    position: absolute;
    background-color: rgba(65, 65, 65, 0.8);
    width: 4px;
    height: 10px;
    border-radius: 15px;
    left: 50%;
    /* bottom: 0; */
    animation: wheel_animation 1.3s ease infinite;
}

@keyframes wheel_animation {
    0% {
        top: 10%;
        transform: translate(-50%, 20%);
        opacity: 1;
    }

    100% {
        top: 45%;
        transform: translate(-50%, 45%);
        opacity: 0;
    }